@model Inventory.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "LoginSuccess";
}

<div>
    <h4>Login Successful!</h4>
    <hr />
</div>
<div>
    <a asp-controller="Inventory" asp-action="Index" class="btn btn-primary">Go to Inventory</a>
</div>
